
@{
    ViewBag.Title = "create2";
}

<h2>create2</h2>
<style>
    input[type = "submit"]:hover {
        color: firebrick;
        background-color: chocolate;
    }
</style>


<form action="SaveData">
    <label>Name:</label>
    <div>
        <input type="text" name="EmployeeName" class="form-control">

    </div>
    <label>Address:</label>
    <div>
        <input type="text" name="EmployeeAddress" class="form-control">

    </div>
    @*<label>Address:</label>
        <div>
            <input type="text" name="address" class="form-control">
        </div>
        <label >Contact:</label>
        <div >
            <input type="text" name="contact" class="form-control">
        </div>*@
    <div>
        <br>
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
</form>

