@model List<WebApplication1.Models.employee>



@{
    ViewBag.Title = "index";
}

<h2>Hello from the otherside</h2>
<p>Shioyasha</p>

<table style="border:3px dashed blue;">
    <tr>
        <th>EmployeeID</th>
        <th>EmployeeName</th>
        <th>EmployeeAddress</th>

    <tr>
    <td>1</td>
    <td>Shiroyasha</td>
    <td>Kathmandu</td>
    </tr>




</table>
